<div ng-controller="MyScreenController">
  <div class="form-panel" ng-show="showStep(0)">
    <input type="url" ng-model="newScreenForm.data.url" placeholder="Some Remote Service URL" required>
    <input type="text" ng-model="newScreenForm.data.apiKey" placeholder="Service API key" required>
    <div class="buttons">
      <button ng-click="getSomethingFromService(newScreenForm)" class="success">Fetch Something</button>
      <button ng-click="cancelAddScreen()" class="cancel">Cancel</button>
    </div>
  </div>
  <div class="form-panel" ng-show="showStep(1)">
    <div class="choices">
      <div class="list-item" ng-repeat="something in allthings" ng-click="chooseSomething(newScreenForm, something)">{{something.Name}}</div>
    </div>
    <div class="buttons">
      <button ng-click="reset()" class="success">&lt; Prev</button>
      <button ng-click="cancelAddScreen()" class="cancel">Cancel</button>
    </div>
  </div>
</div>